.container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.prompt{
    color: lightgray;
}

.emailInput{
    width: 65%;
}

.submitButton{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
}